streamlit
pandas
numpy<2
scipy
scikit-learn
matplotlib
seaborn
joblib
openpyxl
xlsxwriter
rdkit
requests
Pillow
shap
mordred
padelpy
gdown
jcamp
streamlit-ketcher
xgboost
lightgbm
catboost
plotly
python-docx
reportlab
morfeus-ml
dscribe
